.productitem {
	display: flex;
	flex-direction: column;
	border: 1px solid lightblue;
	padding: 20px;
}


.add-btn {
	width: 100%;
}


.img img {
	width: 100%;
	background: lightgray;
	height: 20vh;
	margin: 0 auto;
	object-fit: cover;
}

.description {
	font-size: 0.8em;
}